 .container h1 {
    color: black;
    font-family: 'Gochi Hand', cursive;
    font-size: 110px;

 }
 h2 {
    color: black;
    font-family: 'Gochi Hand', cursive;
    font-size: 40px;


}
body{
    background-color: #d1be9c;
}
 
